
@use 'config' as vars;
@use 'utilities' as util;
@use 'btnconfig' as btns;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: vars.$light-color;
  font-family: vars.$font-stack;
  line-height: 1;
}

img {
  border-radius: 50%;
}

a {
  text-decoration: none;
}
//.hero {
 // background-color: vars.$primary-color;
 // color:vars.$text-color;
 // height: 600px;
 .hero{
  @include util.set-bg(vars.$primary-color);
  height: 600px;
 

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      list-style-type: none;
    }

    li {
      padding: 15px;
    }

    a {
      color: util.text-color-picker(vars.$primary-color);
    }

    a:hover {
      color: vars.$secondary-color;
    }
  }

  &-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    img {
      width: 50%;
    }

    h1 {
      font-size: 50px;
      line-height: 1.2;
    }
  }
}


// This code is related to some of the aspects of SCSS we have yet to cover.
// While you don't have to mess with it, it would be advisable to attempt to understand its functionality.
$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}
